h1 {
  padding-bottom: 0.24em !important;
}

.poem {
  text-align: center;
  white-space: pre;
}

.loading {
  background: url("loading.svg") center center no-repeat;
}

.navigation {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 9em;
  z-index: 1;
  background-color: white;
}

.contents {
  /* Push contents below navigation bar */
  position: relative;
  top: 9.6em;
  /* Ensure optimal reading width */
  width: 50em !important;
}

/* Fix navigation bar overlapping target anchor */
:target::before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 8.4em;
  margin-top: -8.4em;
}

/* Fix superfluous space before single icon in dropdown menu */
i.dropdown.icon {
  margin: 0 !important;
}

/* Fix dropdown icon wrapping */
.ui.menu .dropdown.item .menu {
  min-width: max-content !important;
}

figure {
  text-align: center;
}
