.ui.vertical.menu {
  width: 13.5rem !important;
}

/* Show menu icons on left */
.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0em 0.35714286em 0em 0em;
}

.item > .menu > .item {
  color: black !important;
  font-size: 100% !important;
}

.contents {
  margin-top: 1rem;
  /* Push contents next to navigation bar */
  margin-left: 28rem;
  /* Ensure optimal reading width */
  width: 50rem !important;
}

.poem {
  text-align: center;
  white-space: pre;
}

.loading {
  background: url("loading.svg") center center no-repeat;
}

figure {
  text-align: center;
}

.toc {
  position: fixed;
  top: 0;
  left: 14rem;
}
